.payment {
  display: flex;
  margin-bottom: 1rem;
}

.payment:last-child {
  margin-bottom: 0;
}

.paymentType {
  flex-grow: 1;
}

.date {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: var(--foreground-secondary);
}

.lastFour {
  margin-left: 0.5rem;
}
