.shipmentWrap {
  margin: 1.5rem;
  border-bottom: 1px solid var(--light-stroke);
  padding: 0 0 1.5rem 0;
}

.shipmentCard {
  border-radius: 0.75rem;
  border: 1px solid var(--light-stroke);
}

.subwayWrap {
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--light-stroke);
}

.subwayGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  text-align: center;
  font-size: 0.875rem;
}

.status {
  display: flex;
  align-items: center;
  padding: 0.25rem 0 0.75rem 0;
}

.leftStem,
.rightStem {
  flex-grow: 1;
  height: 3px;
}

.leftStem {
  margin-right: 0.25rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rightStem {
  margin-left: 0.25rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.status:first-child .leftStem,
.status:last-child .rightStem {
  background-color: transparent !important;
}

.status svg {
  stroke-width: 3px;
}

.keyValuePairs {
  padding: 0.25rem 1rem;
}

.keyValue {
  display: flex;
  margin: 0.75rem 0;
}

.key {
  flex-grow: 1;
}

.summary {
  text-align: center;
  margin: 0.75rem 0;
}
