.flightWrap {
  margin-bottom: 1.5rem;
  border: 1px solid var(--light-stroke);
  border-radius: 0.75rem;
  padding: 0;
  overflow: hidden;
}

.flightWrap:last-child {
  margin-bottom: 0;
}

.segmentWrap {
  position: relative;
  margin: 0 1rem;
}

.segmentWrap::before {
  content: " ";
  height: 1px;
  background-color: var(--light-stroke);
  left: 0;
  right: 0;
  bottom: 50%;
  position: absolute;
  z-index: 0;
}

.segment {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  position: relative;
}

.inAir {
  flex-grow: 1;
  text-align: center;
}

.inAir svg {
  background-color: var(--background);
  width: 3rem;
  fill: var(--light-stroke);
}

.segment .location:first-child {
  padding-right: 1rem;
  text-align: left;
}

.segment .location:last-child {
  padding-left: 1rem;
  text-align: right;
}

.segment .location {
  background-color: var(--background);
}

.segment .time {
  font-size: 0.875rem;
  color: var(--foreground-secondary);
  margin-top: 0.25rem;
}

.keyValuePairs,
.passengerKeyValuePairs {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-top: 1px solid var(--light-stroke);
}

.keyValuePairs > div,
.passengerKeyValuePairs > div {
  display: flex;
  margin: 0.5rem 1rem;
}

.keyValuePairs .key,
.passengerKeyValuePairs .key {
  flex-grow: 1;
}

.passengerKeyValuePairs {
  background-color: var(--background-block);
}

.itineraryHead {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  margin: 1rem;
}
