.finePrintWrap {
  margin: -1px 1.5rem 0 1.5rem;
  padding: 1.5rem 0;
  border-top: 1px solid var(--light-stroke);
}

.finePrintWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.finePrintContent {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--foreground-tertiary);
  align-items: center;
}

.finePrintContent a {
  color: var(--foreground-tertiary);
}

.mapLabel {
  margin-right: 0.5rem;
}

.mapAttribution ul {
  display: inline-flex;
}

.mapAttribution li::after {
  content: "·";
  padding: 0 0.5rem;
}

.mapAttribution li:last-child::after {
  content: none;
}

.downloadBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}

.downloadBlock > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.downloadBlock > div > svg {
  margin-right: 0.5rem;
}

.downloadBlock > div:first-child {
  border-right: 1px solid var(--light-stroke);
}

@media print {
  .downloadBlock {
    display: none;
  }
}

@container receipt (width > 768px) {
  .downloadBlock {
    display: none;
  }
}

@container receipt (width < 360px) {
  .downloadBlock {
    grid-template-columns: 1fr;
  }

  .downloadBlock > div:first-child {
    border-right: none;
    margin-bottom: 1rem;
  }
}

.finePrintWrap > div:last-child {
  margin-bottom: 0;
}
