.finePrintWrap {
  margin: -1px 1.5rem 0 1.5rem;
  padding: 1.5rem 0;
  border-top: 1px solid var(--light-stroke);
}

.finePrintWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.finePrintContent {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: var(--foreground-tertiary);
  align-items: center;
}

.finePrintContent a {
  color: var(--foreground-tertiary);
}

.mapLabel {
  margin-right: 0.5rem;
}

.mapAttribution ul {
  display: inline-flex;
}

.mapAttribution li::after {
  content: "·";
  padding: 0 0.5rem;
}

.mapAttribution li:last-child::after {
  content: none;
}

.downloadBlock {
  display: flex;
  margin-bottom: 1.5rem;
}

.registryBlock {
  border-top: 1px solid var(--light-stroke);
  display: flex;
  padding: 1rem 0 0 0;
}

.registryBlock > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--foreground-secondary);
  flex-grow: 1;
  background: transparent;
  border: 0;
  font-size: 0.875rem;
  cursor: pointer;
}
.registryBlock > button:hover {
  text-decoration: underline;
}

.downloadBlock > a,
.downloadBlock > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--foreground);
  flex-grow: 1;
  background: transparent;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

.downloadBlock > a > svg,
.downloadBlock > button > svg {
  margin-right: 0.5rem;
}

.downloadBlock > a:first-child,
.downloadBlock > button:first-child {
  border-right: 1px solid var(--light-stroke);
}

.downloadBlock > a:only-child,
.downloadBlock > button:only-child {
  border-right: none;
}

@media print {
  .downloadBlock,
  .registryBlock {
    display: none;
  }
}

@container receipt (width < 360px) {
  .downloadBlock {
    grid-template-columns: 1fr;
  }

  .downloadBlock > a:first-child,
  .downloadBlock > button:first-child {
    border-right: none;
    margin-bottom: 1rem;
  }
}

.finePrintWrap > div:last-child {
  margin-bottom: 0;
}

/* Registry Data */

.backdrop {
  position: absolute;
  inset: 0;
  background: rgba(var(--background-alpha-tint), 0.9);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.2s ease;
  transition-behavior: allow-discrete;
  @starting-style {
    opacity: 0;
  }
}

.registryDataDialog {
  background: var(--background);
  padding: 0;
  margin: 1rem;
  width: 100%;
  max-width: 480px;
  max-height: calc(100% - 2rem);
  overflow-y: scroll;
  box-shadow: 0 0 0 1px rgba(var(--foreground-alpha), 0.1),
    0 1rem 1rem rgba(var(--foreground-alpha), 0.03);
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition-behavior: allow-discrete;
  @starting-style {
    opacity: 0;
    transform: scale(0.95);
  }
}

.buttons {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: end;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 1.25rem;
  border: none;
  background-color: var(--background-block);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.close:hover {
  background-color: var(--background-block-contrast);
}

.registryDataDialog header {
  margin: 2rem;
  text-align: center;
}

.registryDataDialog h3 {
  margin: 0;
  padding: 0;
}

.registryDataDialog .subheader {
  margin-top: 0.25rem;
  color: var(--foreground-secondary);
}

.registryDataDialog dl {
  margin: 2rem;
  line-height: 1.375;
  padding: 0;
}

.registryDataDialog dt {
  font-size: 0.875rem;
  color: var(--foreground-secondary);
  margin: 0 0 0.25rem 0;
}

.registryDataDialog dd {
  margin: 0 0 1rem 0;
  padding: 0;
}

.registryDataDialog dd > button {
  margin: 0;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.registryDataDialog dd:last-child {
  margin: 0;
}

.registryDataBlock {
  display: flex;
}

.registryDataBlock > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-decoration: none;
  color: var(--foreground);
  flex-grow: 1;
  background: transparent;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}
