.localBusiness {
  overflow: hidden;
  box-shadow: inset 0 0 0 1px var(--light-stroke);
  border-radius: 0.75rem;
}

.mapWrap {
  position: relative;
  width: 100%; /* variable */
  height: 100px; /* fixed */
  overflow: hidden;
}

.mapWrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 400px;
  height: auto;
  transform: translate(-50%, calc(-50% + 12px));
}

.mapWrap::after {
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.08);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.localBusinessProfile {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modifierText {
  color: var(--foreground-secondary);
}
