.receiptHeader {
  border-bottom: 1px solid var(--light-stroke);
}

.compact h1 {
  margin: 0;
  padding: 0;
}

.receiptHeader .headerText {
  margin-top: 0.25rem;
}

.compact {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.compact .logo {
  width: 4rem;
  height: 4rem;
  background-color: var(--background-block);
  margin-right: 1.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
  min-width: 4rem;
  min-height: 4rem;
  position: relative;
}

.compact .logo::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.08);
  border-radius: 0.75rem;
}

.compact .logo svg {
  width: 4rem;
  height: 4rem;
}

.fullPage {
  display: none;
}

@media print {
  .fullPage {
    display: block;
  }

  .compact {
    display: none;
  }
}

@container receipt (width > 768px) {
  .fullPage {
    display: block;
  }

  .compact {
    display: none;
  }
}

.fullPageInner {
  display: flex;
  padding: 1.5rem;
}

.fullPageData {
  flex-grow: 1;
}

.fullPage h1 {
  margin: 0 0 1rem 0;
  padding: 0;
}

.fullPage .logo {
  width: 6rem;
  height: 6rem;
  background-color: var(--background-block);
  border-radius: 1.125rem;
  overflow: hidden;
  min-width: 6rem;
  min-height: 6rem;
  position: relative;
}

.fullPage .logo::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.08);
  border-radius: 1.125rem;
}

.brandStripe {
  height: 0.375rem;
}

.headerChunk {
  margin: 1rem 0;
}
