.partiesWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.partyHeader {
  color: var(--foreground-secondary);
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.lineItemMetadata {
  margin-top: 0.25rem;
}

@media (max-width: 520px) {
  .partiesWrap {
    grid-template-columns: 1fr;
  }
}
