.partiesWrap {
  border-top: 1px solid var(--light-stroke);
  border-bottom: 1px solid var(--light-stroke);
  margin: -1px 1.5rem 0 1.5rem;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.partiesWrap > div {
  padding-right: 1.5rem;
}

.partyHeader {
  color: var(--foreground-secondary);
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.lineItemMetadata {
  margin-top: 0.25rem;
}
