ul.errors,
ul.warnings {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.errors li,
.warnings li {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: var(--background);
  line-height: 1.25;
}

.errors svg,
.warnings svg {
  min-width: 16px;
  min-height: 16px;
  margin-top: 2px;
}

.errors li {
  border: 1px solid rgb(from red r g b / 0.25);
  background-color: rgb(from red r g b / 0.03);
}

.warnings li {
  border: 1px solid rgb(from orange r g b / 0.25);
  background-color: rgb(from orange r g b / 0.03);
}

.errors svg {
  stroke: red;
}

.warnings svg {
  stroke: orange;
}

.advisory {
  margin-bottom: 1rem;
  border-left: 0;
  width: 100%;
}
