.serviceNote {
  border: 1px solid var(--light-stroke);
  margin: 0;
  padding: 1rem;
  border-radius: 0.75rem;
}

.dateRange {
  border: 1px solid var(--light-stroke);
  border-radius: 0.75rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.start {
  border-right: 1px solid var(--light-stroke);
  padding-right: 1rem;
}

.end {
  text-align: right;
  padding-left: 1rem;
}

.header {
  font-size: 0.875rem;
  color: var(--foreground-secondary);
}

.datetime {
  margin-top: 0.25rem;
}

.datetime :global(.secondaryText) {
  margin-top: 0.25rem;
}
