.thirdPartyWrap {
  margin: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 0.75rem;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  background-color: var(--background-block);
  border: 1px solid var(--light-stroke);
  position: relative;
}

.logo {
  width: 3rem;
  height: 3rem;
  background-color: var(--light-stroke);
  margin-left: 1rem;
  border-radius: 0.5625rem;
  overflow: hidden;
  min-width: 3rem;
  min-height: 3rem;
  position: relative;
}

.logo::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.08);
  border-radius: 0.5625rem;
}

.description {
  flex-grow: 1;
}
