/* Mobile */

.actionBlock {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actionButton {
  margin-bottom: 0.625rem;
  padding: 0.625rem 1rem;
  text-align: center;
  border-radius: 0.75rem;
  display: block;
  text-decoration: none;
  position: relative;
}

.actionButton > span {
  display: inline-block;
  max-width: calc(100% - 24px);
}

.actionIcon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

.externalLinkIcon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.15s ease;
}

.actionButton:hover .externalLinkIcon {
  opacity: 0.8;
}

.actionBlock li:last-child .actionButton {
  margin-bottom: 0;
}

.actionButton::after {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.12);
  border-radius: 0.75rem;
}

/* Full Width */

@media print {
  .actionBlock {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }

  .actionButton {
    background-color: transparent !important;
    color: var(--foreground-secondary) !important;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    font-size: 0.875rem;
    text-decoration: underline;
  }

  .actionIcon {
    position: static;
    transform: none;
  }

  .externalLinkIcon {
    position: static;
    transform: none;
    opacity: 0;
  }

  .actionButton:hover .externalLinkIcon {
    opacity: 0.8;
  }

  .actionButton > span {
    max-width: none;
  }

  .actionButton::after {
    box-shadow: none;
  }
}

@container receipt (width > 768px) {
  .actionBlock {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }

  .actionButton {
    background-color: transparent !important;
    color: var(--foreground-secondary) !important;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    font-size: 0.875rem;
    text-decoration: underline;
  }

  .actionIcon {
    position: static;
    transform: none;
    display: none;
  }

  .externalLinkIcon {
    position: static;
    transform: none;
    opacity: 0;
    display: none;
  }

  .actionButton:hover .externalLinkIcon {
    opacity: 0;
  }

  .actionButton > span {
    max-width: none;
  }

  .actionButton::after {
    box-shadow: none;
  }
}
