.supplementalText {
  font-size: 0.875rem;
}

.supplementalText h1,
.supplementalText h2,
.supplementalText h3,
.supplementalText h4 {
  font-size: 1rem;
}

.supplementalText ol li,
.supplementalText ul li {
  margin-bottom: 0.25rem;
}
