/* Mobile */

.actionBlock {
  list-style: none;
  margin: 0;
  padding: 0;
}

.actionButton {
  margin-bottom: 0.625rem;
  padding: 0.625rem 1.5rem;
  text-align: center;
  border-radius: 0.75rem;
  display: block;
  text-decoration: none;
  position: relative;
}

.actionBlock li:last-child .actionButton {
  margin-bottom: 0;
}

.actionButton::after {
  content: " ";
  display: block;
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--foreground-alpha), 0.12);
  border-radius: 0.75rem;
}

/* Full Width */

@media print {
  .actionBlock {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }

  .actionButton {
    background-color: transparent !important;
    color: var(--foreground-secondary) !important;
    display: inline;
    padding: 0;
    font-size: 0.875rem;
    text-decoration: underline;
  }

  .actionButton::after {
    box-shadow: none;
  }
}

@container receipt (width > 768px) {
  .actionBlock {
    display: inline-flex;
    gap: 2rem;
    justify-content: center;
    width: 100%;
  }

  .actionButton {
    background-color: transparent !important;
    color: var(--foreground-secondary) !important;
    display: inline;
    padding: 0;
    font-size: 0.875rem;
    text-decoration: underline;
  }

  .actionButton::after {
    box-shadow: none;
  }
}
