.row {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: flex-start;
}

.row:last-child {
  margin-bottom: 0;
}

.blockLabel {
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-transform: capitalize;
  padding-right: 1rem;
}

.blockLabel svg {
  margin-left: 0.25rem;
}

.bottomLine .blockLabel,
.bottomLine .blockValue {
  font-weight: 800;
}

.tax {
  color: var(--foreground-secondary);
}

.totalsWrap {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .totalsWrap {
    grid-template-columns: 1fr 1fr;
  }
}
